<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Happy Birthday</a>
</nav>

<br>

<h3 class="text-center">Your Trip</h3>

<slideshow [minHeight]="'200px'" [showArrows]="true" [imageUrls]="imageUrls"
    [lazyLoad]="imageUrls?.length > 1">
</slideshow>

<br>

<div class="card center-div" style="width: 90%;">
    <div class="card-body">
        <h5 class="card-title">Information</h5>
        <p class="card-text">
            <div class="row">
                <div class="col">
                    'The Hide' on The Vineyard
                    <br>
                    Waddon, Dorset
                </div>

                <ul class="col">
                    <li>4 Nights</li>
                    <li>30th January - 3rd February</li>
                    <li>Shephard's hut, cabin stay</li>
                </ul>
            </div>


    </div>
</div>

<!-- <div class="center-dev p-3">
    <agm-map id="map" [latitude]='50.66964637983779' [longitude]='-2.5338292230830657' [zoom]=8>
        <agm-marker [latitude]='50.66964637983779' [longitude]='-2.5338292230830657'></agm-marker>
    </agm-map>
</div> -->


<google-map></google-map>

<br>

<div class="card center-div" style="width: 90%;">
    <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">
            'The Hide' is a Shepherd's Hut, Cabin and Shower room
            It overlooks Little Waddon Vineyard with views across the valley and out to the sea. Located in an AONB on Dorset's Jurrasic Coast
            This is all your own property - the best corner of the vineyard for your own exclusive use
            No neighbours just a few cows in the next field
      </p>
      <h5 class="card-title">The space</h5>
<p class="card-text">
            The Hide is surrounded by woodland and farmland and a vineyard in front of you - a private space perfect for 2 adults
            <br>
            <br>


            This is a unique and rare opportunity to stay on an organic & Bio Dynamic Vineyard in England in a Shepherd's hut & Cabin in your own private space
            <br>
            <br>


            You have your own area on the vineyard, where you can relax and enjoy your very own outside space with a fire pit under a canopy of trees tucked away in the best corner of the vineyard, with beautiful views out across the valley and to the sea
            <br>
            <br>

             - The Shepherd's Hut - has a lovely atmosphere and is warm and comfortable decorated in mutable colours it feels like a serene space as soon as you walk in. The hut is fitted with mains lighting and sockets, heated by a little wood-burner to make your evenings cosy and romantic. There are plenty of candles in the room if electric lamps are not wanted. The bed is a very comfortable and has a memory foam mattress. The bed linen is crisp white cotton with soft quilt and pillows and a couple of handy throws for those colder evenings. A lavender sleep spray and room diffuser are there for use during your stay
             <br>
             <br>

            - The Cabin - has a great deck area for sitting out and enjoying the beautiful views. The double doors of the cabin open out on to the deck. Inside the cabin is a kitchen and indoor seating area. The kitchen is well equipped with enamelware, all the utensils, pots and pans, cutlery etc. A great little fridge, a two ring electric hob with a whistling kettle, toaster and a sink with hot water. There is a 2 seater leather sofa in front of the wood-burner - perfect for a cosy night in in front of the fire. The wood burner has a small bread oven which is great for a slow cook meal. There are electric lights and lamps, candle holders, room spray and diffuser, books and walking maps and games compendium
            <br>
            <br>

            - The Shower Room - There's a separate warm and cosy shower room tucked on the back of the cabin which has an electric shower, basin with hot and cold water, toilet, shelving, wooden seat and a great heated towel rail.
            <br>
            <br>
    
            The Hide has an 'off grid' feel as there are no TV's, radios, microwaves or WIFI 
            We try and push the green eco and sustainable way of living for the benefit of all of us. A great way to live in a simple way for a few days!
            <br>
            <br>

            There is good 4G from across the valley 
            <br>
            <br>
    
            Little Waddon Vineyard has a no pet or children policy
            We are a working vineyard set amongst neighbouring farmland
        </p>
    </div>
</div>
